*{
    margin: 0;
    padding: 0;
}
.logo {
    width: 20%;
    display: flex;
    justify-content: center;
}
.logo img {
    border: 2px solid red;
    border-radius: 50px;
}
.nav-list li{
    list-style: none;
    padding: 15px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
}
.nav-list li a:hover{
    color: yellow;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list {
  width: 50%;
  /*background-color:black;*/
  display: flex;
  align-items: center;
}
.rightNave {
    /*background-color: blue;*/
    width: 50%;
    text-align: right;
    padding: 0px 23px;
}
#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid yellow;
    border-radius: 20px;
}
.background {
    background: rgba(0,0,0,0.7)url('../img/pexels-maxime-francis-2246476.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    max-width: 50%;
    margin: auto;
    height: 65%;
}
.firstsection{
    height: 100vh;
}
.fhalf{
    width: 80%;
    display: flex;
    padding: 100px;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}
.shalf{
    width: 30%;
    
}
.shalf img{
    width: 70%;
    border: 2px solid red;
    border-radius: 50px;
    display: block;
    margin: auto;
}
.textBig{
     font-size: 31px;
}
.textSmall{
    font-size: 18px;
}
.btn{
    padding: 8px 15px;
    border:2px solid white;
    margin: 2px 3px;
    border-radius: 8px;
    cursor: pointer;
    background:none;
    color: white;
}
.btn-sm {
    vertical-align: middle;
    padding: 5px 6px;
}